.private-social-media-lock-emoji-container {

  height: 40px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
    
  * {
    --locked-color:#62a24e;
    --unlocked-color:#ff5153;
  }
  
  .lock {
    height: 16px;
    width: 18px;
    margin-top: 4px;
    border: 3px solid var(--locked-color);
    border-radius: 5px;
    position: relative;
    cursor: pointer;
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
  
    &:after {
      content: "";
      display: block;
      background: var(--locked-color);
      width: 3px;
      height: 7px;
      position: absolute;
      top: 50%;
      left: 50%;
      margin: -3.5px 0 0 -2px;
      -webkit-transition: all 0.1s ease-in-out;
      transition: all 0.1s ease-in-out;
    }
  
    &:before {
      content: "";
      display: block;
      width: 10px;
      height: 10px;
      bottom: 100%;
      position: absolute;
      left: 50%;
      margin-left: -6px;
      border: 3px solid var(--locked-color);
      border-top-right-radius: 50%;
      border-top-left-radius: 50%;
      border-bottom: 0;
      -webkit-transition: all 0.1s ease-in-out;
      transition: all 0.1s ease-in-out;
    }
  
    &:hover:before {
      height: 12px;
    }
  }
  
  .unlocked {
    margin-top: 6px;
    // transform: rotate(10deg);
  
    &:before {
      bottom: 130%;
      left: 31%;
      margin-left: -11.5px;
      transform: rotate(-45deg);
      border-color: var(--unlocked-color);
    }
  
    border-color: var(--unlocked-color);
  
    &:after {
      background: var(--unlocked-color);
    }
  
    &:hover {
      transform: rotate(3deg);
  
      &:before {
        height: 10px;
        left: 40%;
        bottom: 124%;
        transform: rotate(-30deg);
      }
    }
  }  
}

.private-social-media-lock-emoji-container.global {
  width: 40px;
  
  .lock {
    height: 20px;
    width: 22px;
  }
}
